# ==========================================
# PHASE 1 — Evaluasi OCR
# ==========================================
easyocr==1.7.2
paddleocr==2.6.1.3
paddlepaddle==2.6.2
jiwer==4.0.0

# ==========================================
# PHASE 2 — Pipeline Ekstraksi
# ==========================================
img2table==2.0.0
openpyxl==3.1.5
pandas==2.3.3
PyMuPDF
mysql-connector-python==9.7.0
python-dotenv==1.2.2

# ==========================================
# PHASE 3 — FastAPI Backend
# ==========================================
fastapi==0.136.1
uvicorn==0.47.0
python-multipart==0.0.28

# ==========================================
# DEPENDENCIES (otomatis terinstall)
# ==========================================
numpy==1.26.4
pillow==12.2.0
opencv-contrib-python-headless==4.8.1.78
torch==2.12.0
torchvision==0.27.0
pydantic==2.13.4
requests==2.34.2
tqdm==4.67.3
shapely==2.1.2
